body {
    background-color: #B0C4DE;   
}
        .nav a {
            background-color: #FFB6C1;
            width: 260px;
            padding: 10px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
           }
        .nav a:hover {
        	color: white;
        }
		a {
			text-decoration: none;
		}
        a:hover {
        	color:white;
        }
