* {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 15px 0 10px 0;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}
body { 
    position: relative; 
    min-width: 320px; 
    padding: 0px; 
    font-family: "Roboto","Helvetica","Arial",sans-serif; 
    font-size: 16px; 
    line-height: 1.5em; 
    color: rgb(36, 36, 36); 
    font-weight: 400; 
    overflow-x: hidden; 
    background: rgba(47, 79, 79, 0.3);
}

.header_top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.header_top-mobile {
	display: none;
}

.header_top-item {
    display: flex;
    flex-direction: column;
}

.consult_wrapper {
    text-align: end;
}

ul.header_menu-list {
    display: flex;
    justify-content: space-around;
}

.links:hover {
    color: #D2691E; 
    text-decoration: underline;
}


.line_goriz {
    width: 100%;
    margin: auto;
    color: #BDB76B;
    border: 1px solid;
    margin: 10px;
}

.city {
    font-size: 24px;
    font-weight: 700;
}

.adress {
    font-size: 16px;
    margin: 10px 0 0 0;
}

a.link {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
}

a.consult {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    border-bottom: solid #D2691E;
    color: #000000;

}

hr {
    width: 100%;
    color: #96b33f;
}

.teplo {
    padding: 40px 0 0 0;
}

.teplo_wrapper {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 500px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    top: 220px;

}

.title_teplo{

}

.eco_teplo{
    background: url(../img/studio.png);
    margin-top: 20px;
}

.eco_teplo-img {
    padding: 500px 0 0 0;
}

.basket_item {
    width: 35%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 480px;
    text-align: left;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 30px 5px 5px 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 30px;

}

.head-title {
    text-align: center;
}

.basket_wrapper {
    margin: 50px 0 0 0;
}

.basket_price {
    text-align: end;
    margin: 20px 0px;
}

.basket_price span {
    background: #FF7F50;
    color: #fff;
    font-weight: 700;
    padding: 5px 25px;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
}

.basket_title {
    font-size: 21px;
    font-weight: 700;
}

.basket_subtitle {
    font-size: 12px;
}

.basket_btn {
    width: 70%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 7px 0px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: red;
    border-radius: 5px;
    border: 1px solid red;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

i.fas.fa-cart-plus {
    margin-right: 10px;
    color: #fff;
}

a.basket_all {
    font-size: 12px;
}

img.basket_img {
    width: 300px;
    height: 300px;
    margin: auto;
}

img.table_img {
    padding: 55px 0 0 0;
}

.comapny_title {
    padding: 55px 0 0 0;
}

.company_wrapper {
    padding: 25px 0 0 0;
}

.advantages {
    padding: 50px 0 0 0;
}

.advantages_wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 200px 0 0 0;
}

.advantages_item {
    width: 30%;
}

.img_wrapper {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.company_img {
    width: 500px;
    float: left;
    margin-right: 10px;
}

.advantages_title {
    font-size: 14px;
    font-weight: 700;
    margin-top: 190px;
}

.advantages_title span{
    font-weight: 200;
}

.advantages_subtitle {
    font-size: 13px;
}

.company {
    padding: 50px 0 0 0;
}

.company_wrapper {
    display: flex;
    text-align: left;
    text-indent: 2em;
}
.company_wrapper_2 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 25px 0 0 0;


}

.company_item {
    width: 31%;
}

.company_title {
    font-weight: 700;
}

.company_subtitle {
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.company_rekvizit {
    text-align: center;
    padding: 20px 0 0 0;
    margin-bottom: 15px;
}

.footer {
    background: #BDB76B;
    padding-top: 30px;
    padding-bottom: 30px;
}

.foot-text {
    font-size: 14px;
    color: #000;
    text-align: center;
}

.line {
    border: 1px solid;
    margin: 5px;
    color: #96b33f;
}

.line_gor {
    border: 1px solid;
    width: 130px;
    margin: auto;
    color: #96b33f;
}

#button {
    display: inline-block;
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    padding: 10px;
  }

  #button::after {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }

  #button:hover {
    cursor: pointer;
    background-color: #333;
  }

  #button:active {
    background-color: #555;
  }

  #button.show {
    opacity: 1;
    visibility: visible;
  }

  img.img-fluid {
    width: 20%;
}

.p_i-name-product {
    font-weight: 700;
}

p.p_i-text {
    font-size: 14px;
}

.p_i-name-title {
    font-weight: 700;
}

ul.p_i-ul {
    text-align: left;
    font-size: 14px;
}

div #modal1Title {padding: 25px 0 0 0;font-size: 24px;font-weight: 700;}

.form__conteiner {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 25px 0 25px 0;
}

input.form__input {
    justify-items: center;
    align-items: center;
    display: flex;
}

input {
    margin: 10px 0 0 0;
    padding: 10px;
}

input.form__btn {
    color: #fff;
    background: #8ab430;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

@media (max-width: 720px) {
    .header_top {
        display: flex;
    }
    
	.header_top-mobile {
		display: none;
	}

    .container {
        padding: 0 10px;
    }

    a.consult {
        font-size: 12px;
    }

    a.link {
        font-size: 18px;
    }

    .header_top-logo {
        width: 25%;
    }

    .adress {
        font-size: 14px;
    }

    .city {
        font-size: 18px;
    }

    .basket_title {
        font-size: 18px;
    }

    .basket_subtitle {
        font-size: 11px;
        padding: 0 0 10px 0;
    }

    .basket_price span {
        font-size: 16px;
    }

    img.basket_img {
        width: 55%;
    }

    .basket_btn {
        width: 85%;
        font-size: 14px;
    }

    a.basket_all {
        padding-top: 10px;
    }

    .basket_wrapper {
        justify-content: space-between;
    }

    .basket_item {
        width: 29%;
    }
}
  
@media (max-width: 640px) { 
    .header_top {
        display: none;
    }

	.header_top-mobile {
		display: block;
	}

    .header_top-item {
        width: 49%;
    }
    
    a.link {
        font-size: 16px;
    }
    
    a.consult {
        font-size: 10px;
    }

    .header_top-logo {
        margin: auto;
    }

    .header_wrapper_mobile {
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }
    
    ul.header_menu-list {
        flex-wrap: wrap;
        margin-left: 0px;
        padding: 5px;
        font-size: 12px;
    }
    
    h1 {
        font-size: 18px;
        padding: 0px 0 0 0;
    }
    
    .teplo_wrapper {
        padding: 10px 0 0 0;
    }
    
    .teplo {
        padding: 15px 0 0 0;
    }
    
    .basket_wrapper {
        margin: 15px 0 0 0;
    }
    
    .basket_wrapper {
        display: block;
    }
    
    .basket_item {
        width: 95%;
        margin: 0 0 20px 0;
    }
    
    img.basket_img {
        width: 30%;
    }
    
    div#company {
        padding: 10px 0 0 0;
    }
    
    .company_wrapper {
        padding: 10px 0 0 0;
    }
    
    .advantages {
        padding: 25px 0 0 0;
    }
    
    .advantages_wrapper {
        padding: 10px 0 0 0;
        display: block;
    }
    
    .img_wrapper {
        height: 100px;
    }
    
    .advantages_item {
        width: 100%;
    }

    .company_wrapper {
        flex-wrap: wrap;
    }
    
    .company_item {
        width: 100%;
    }
    
    .company_subtitle {
        flex-wrap: wrap;
    }
    
    .company_subtitle span {
        width: 100%;
    }
    
    .line {
        width: 20px;
    }
    
}

@media (max-width: 400px) { 
    a.consult {
    text-align: center;
}
}